<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Add New Recipe</title>
</head>
<body>
    <div class="d-flex justify-content-between align-items-center p-3">
        <h1 class="text-primary">Edit {{rcp.name}}!</h1>
        <div>
            <a href="/dashboard" class="btn btn-primary">Back to Recipes</a>
            <button type="submit" class="btn btn-danger">Logout</button>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form action="/update/recipe" method="post" class="p-3 bg-dark text-light">
                <!-- prepoulate form info -->
                <!-- same validations as create method -->
                <!-- redirect flash error messages -->
                <!-- user must be logged in to see this page (session? put user id ) -->
                <input type="hidden" name="id" value="{{ rcp.id }}">
                    <div class="form-group">
                        <label for="rcp_name">Recipe Name:</label>
                        <input type="text" name="rcp_name" id="rcp_name" class="form-control" value="{{rcp.name}}">
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea class="form-control" name="description" id="description" rows="3">{{rcp.description}}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="instructions">Instructions:</label>
                        <textarea class="form-control" name="instructions" id="instructions" rows="4">{{rcp.instructions}}</textarea>
                    </div>
                </div>
            <div class="col-md-6 p-3 bg-dark text-light">
                    <div class="form-group">
                        <label for="date_added">Date Cooked/Made:</label>
                        <input type="datetime-local" id="date_added" name="date_added" class="form-control" value="{{rcp.created_at}}">
                    </div>
                    <div class="form-group">
                        <label for="under_30">Under 30 minutes?</label>
                        <div class="form-check">
                            <input type="radio" name="under_30" id="yes" value="yes" class="form-check-input" 
                            {% if rcp.is_under_30_mins == 1 %} checked {% endif %}>
                            <label for="yes" class="form-check-label">Yes</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" name="under_30" id="no" value="no" class="form-check-input"
                            {% if rcp.is_under_30_mins == 0 %} checked {% endif %}>
                            <label for="no" class="form-check-label">No</label>
                        </div>
                    </div>
                    <!-- redirect to recipes dashboard after submit -->
                    <input type="submit" class="btn btn-primary" value="Update Recipe">
                </form>
            </div>
        </div>
    </div>
</body>



</html>